@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --accent: #044e3b;
  --accent-rgb: 4, 78, 59;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #333333;
    --accent: #044e3b;
    --accent-rgb: 4, 78, 59;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), 'Lexend', sans-serif;
}
